/**
 * mmb myMediaBox
 */

#mmbOverlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #666;
    z-index: 9998;

}

#mmbCenter {
    padding: 15px;
    background-color: #2E3639;
    height: auto;
    overflow: hidden;
    z-index: 9999;
}

/**
* styling
*/
#mmbContent *, #mmbCloseLink {
    color: #fff;
}

#mmbContent h2 {
    background: 0;
}

#mmbCloseLink:hover {
    text-decoration: none;
}

#mmbContent  p.error {
    margin-bottom: 0px;
    color: #0492D2;
}

#mmbContent .formbody {
    border: 0;
}

#mmbContent label {
    display: block;
    font-size: 14px;
    margin-bottom: 3px;

}

#mmbContent .fieldcontainer {
    margin-bottom: 20px;

}

#mmbContent div.captcha {
    padding: 0;
}

#mmbContent div.captcha, #mmbContent .captcha_text, #mmbContent div.captcha label {
    background-color: #2E3639;
    border: 0;
}

#mmbContent div.captcha label {
    display: inline;
}

#mmbContent input.text, #mmbContent .textarea, #mmbContent .password {
    /*experimental*/
    width: 350px;
    background-color: #62686b;
    color: #fff;
    font-size: 14px;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    padding: 0px 15px;
    height: 30px;
}

#mmbContent .submit {
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 18px 5px;
    background: #e93a30;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

#mmbContent input[type=submit]:hover {
    background: #E51111;
}

#mmbContent .textarea {
    resize: none;
    height: 200px;
    padding: 10px;
}

#mmbContent .captcha label {
    display: block;
    background-color: transparent;
    border-radius: 0;
}

/**
* search form
*/
.mod_vereinsuche input.checkbox {
    clear: both;
    display: block !important;
}

.mod_vereinsuche .checkbox_container label {
    margin: -14px 0 0 20px;
    font-size: 10px;
    float: left !important;
}

.mod_vereinsuche .formbody {
    background-color: #f1f2f3;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 10px;
    behavior: url('plugins/css3pie/PIE.htc');
    border: 1px solid #e4e4e4 !important;
    border-top-left-radius: 0px;
}

.mod_vereinsuche .result_container {
    position: relative;
}

.mod_vereinsuche .message_box {
    margin: 4px 0 12px;
    padding: 8px 4px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    color: #666;
}

.mod_vereinsuche .empty {
    color: #ff1300;
}

.mod_vereinsuche .result_info_box {
    margin: 4px 0;
    padding: 4px;
    font-size: 10px;
    font-weight: bold;
    color: #000;
}

.mod_vereinsuche .clearing {
    position: relative;
    clear: both;
}

.mod_vereinsuche .separator {
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
}

.mod_vereinsuche div#ctrl_address_box {
    width: 65%;
    float: left;
}

.mod_vereinsuche div#ctrl_address_box .text {
    width: 80%;
}

.mod_vereinsuche div#ctrl_radius_box {
    width: 30%;
    float: right;
}

.mod_vereinsuche fieldset.tags {
    width: 65%;
    float: left;
}

.mod_vereinsuche fieldset.postal {
    width: 30%;
    float: right;
}

.mod_vereinsuche fieldset.categories {
    width: 65%;
    float: left;
}

.mod_vereinsuche fieldset.countries {
    width: 30%;
    float: right;
}

.mod_vereinsuche input#ctrl_tags {
    width: 90%;
}

.mod_vereinsuche input.text {
    padding: 4px;
    color: #999;
    border: 1px solid #e4e4e4 !important;
}

.mod_vereinsuche .tags label, .mod_vereinsuche .postal label {
    display: none;
}

.mod_vereinsuche fieldset {
    margin-bottom: 15px;
    padding-left: 0;
    border: 0;
}

.mod_vereinsuche legend {
    font-weight: bold;
}

.result_table {
    width: 100%;
    border-collapse: collapse;
}

.mod_vereinsuche .result_table td {
    padding: 4px;
    font-size: 10px;
    border-bottom: 1px solid #333 !important;
}

.mod_vereinsuche .result_table th {
    padding: 4px 10px 4px 4px;
    background-color: #f2f0f0;
    color: #666;
}

.mod_vereinsuche .pagination * {
    font-size: 9px !important;
}

.mod_vereinsuche .search_link {
    text-align: right;
}

.mod_vereinsuche .pagination p, .mod_vereinsuche .pagination ul {
    margin: 0px !important;
}

.mod_vereinsuche .duration {
    margin-top: 10px;
    font-size: 9px;
}

.mod_organisationenSuche #map-canvas {
    margin-top: 10px;
}

.mod_vereinsuche .output_settings div.select_box {
    float: left;
    padding-right: 10px;
}