/**
 * message Box /detail view)
 */
#overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #666;
    z-index: 9998;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Good browsers */
    opacity: 0;
}

#formContainer {
    padding: 5px;
    background-color: #666;
    width: 500px;
    height: auto;
    position: fixed;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 9999;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Good browsers */
    opacity: 0;
}

#formContainer  p.error {
    color: #0099cc;
    margin-bottom: 0px;
}

#formContainer h2, #formContainer label {
    color: #ccc;
}

#formContainer .formbody {
    border: 1px solid #ccc !important;
}

#formContainer label {
    display: block;

}

#formContainer .fieldcontainer {
    margin-bottom: 20px;

}

#formContainer .captcha label {
    display: inline;
}

#formContainer .text, #formContainer .textarea {
    width: 300px;
}


/**
 * search form
 */
.mod_vereinsuche input.checkbox {
    clear: both;
    display: block !important;
}

.mod_vereinsuche .checkbox_container label {
    margin: -14px 0 0 20px;
    font-size: 10px;
    float: left !important;
}

.mod_vereinsuche .formbody {
    background-color: #f1f2f3;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 10px;
    behavior: url('plugins/css3pie/PIE.htc');
    border: 1px solid #e4e4e4 !important;
    border-top-left-radius: 0px;
}

.mod_vereinsuche .result_container {
    position: relative;
}

.mod_vereinsuche .message_box {
    margin: 4px 0 12px;
    padding: 8px 4px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    color: #666;
}

.mod_vereinsuche .empty {
    color: #ff1300;
}

.mod_vereinsuche .result_info_box {
    margin: 4px 0;
    padding: 4px;
    font-size: 10px;
    font-weight: bold;
    color: #000;
}

.mod_vereinsuche .clearing {
    position: relative;
    clear: both;
}

.mod_vereinsuche .separator {
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
}

.mod_vereinsuche div#ctrl_address_box {
    width: 65%;
    float: left;
}

.mod_vereinsuche div#ctrl_address_box .text {
    width: 80%;
}

.mod_vereinsuche div#ctrl_radius_box {
    width: 30%;
    float: right;
}

.mod_vereinsuche fieldset.tags {
    width: 65%;
    float: left;
}

.mod_vereinsuche fieldset.postal {
    width: 30%;
    float: right;
}

.mod_vereinsuche fieldset.categories {
    width: 65%;
    float: left;
}

.mod_vereinsuche fieldset.countries {
    width: 30%;
    float: right;
}

.mod_vereinsuche input#ctrl_tags {
    width: 90%;
}

.mod_vereinsuche input.text {
    padding: 4px;
    color: #999;
    border: 1px solid #e4e4e4 !important;
}

.mod_vereinsuche .tags label, .mod_vereinsuche .postal label {
    display: none;
}

.mod_vereinsuche fieldset {
    margin-bottom: 15px;
    padding-left: 0;
    border: 0;
}

.mod_vereinsuche legend {
    font-weight: bold;
}

.result_table {
    width: 100%;
    border-collapse: collapse;
}

.mod_vereinsuche .result_table td {
    padding: 4px;
    font-size: 10px;
    border-bottom: 1px solid #333 !important;
}

.mod_vereinsuche .result_table th {
    padding: 4px 10px 4px 4px;
    background-color: #f2f0f0;
    color: #666;
}

.mod_vereinsuche .pagination * {
    font-size: 9px !important;
}

.mod_vereinsuche .search_link {
    text-align: right;
}

.mod_vereinsuche .pagination p, .mod_vereinsuche .pagination ul {
    margin: 0px !important;
}

.mod_vereinsuche .duration {
    margin-top: 10px;
    font-size: 9px;
}

.mod_organisationenSuche #map-canvas {
    margin-top: 10px;
}

.mod_vereinsuche .output_settings div.select_box {
    float: left;
    padding-right: 10px;
}